.pagination-el {
    @apply mx-1 w-6 h-6 leading-3 p-0 border-gray-06;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}

.pagination-el-arrow {
    @apply mx-1 w-6 h-6 leading-3 p-0 border-gray-06 bg-white flex align-middle hover:bg-pri hover:text-white cursor-pointer;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;

    &-svg {
        @apply w-4 h-4 m-auto;
        line-height: 6px;
    }
}
