@import '@/styles/_mixins.scss';
.accordion {
    overflow: hidden;

    .accordion_body {
        max-height: 0;
        transition: max-height 0.3s ease;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    .accordion__title {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        @apply text-black;

        // &::after {
        //     $w: 16px;
        //     $h: 16px;
        //     content: '';
        //     width: $w;
        //     height: $h;
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     transform-origin: center;
        //     right: 2.5rem;
        //     background-image: url('/svgs/arrow-up.svg');
        //     background-repeat: no-repeat;
        //     background-position: center;
        //     background-size: contain;
        //     transition: transform 0.5s ease;
        // }

        @include respond(sm) {
            font-size: 14px;
            &::after {
                right: 22px;
                top: calc(50% - 1px);
            }
        }
    }

    .accordion-arrow {
        transform-origin: center;
        transition: transform 0.25s ease;
    }
 
    &.accordion__open {
        // .accordion__title {
        //     &::after {
        //         transform: translateY(-50%) rotate(-180deg);
        //         transform-origin: center;
        //     }
        // }

        .accordion-arrow {
            transform: rotate(180deg);   
        }

        .accordion_body {
            --max-height: 0;
            max-height: var(--max-height);
        }
        
    }
}
