* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
<<<<<<< HEAD
=======

div, button, input, text-area, select p , span, i {
    @apply text-black-50;
}
>>>>>>> ddaec7b3a70510c8a8329ff2472b4abd74c1b706
